
/venv/
/pakholkov_ilya_dz_6/nginx_logs.txt
/pakholkov_ilya_dz_6/dict_users_hobby.json
/pakholkov_ilya_dz_6/users_hobby.txt
/pakholkov_ilya_dz_6/bakery.csv
/learns/
/pakholkov_ilya_dz_1/
/pakholkov_ilya_dz_2/
/pakholkov_ilya_dz_3/
/pakholkov_ilya_dz_4/
/pakholkov_ilya_dz_5/
/pakholkov_ilya_dz_6/
/test.py
